nodered/nodered_humidity.json
[
    {
        "id": "f6eec287b7d18bbf",
        "type": "tab",
        "label": "Humidité",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17ed2b71539d5b32",
        "type": "influxdb out",
        "z": "f6eec287b7d18bbf",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "humidity,building=RT,room=E210",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "f7b289a095d3d355",
        "type": "change",
        "z": "f6eec287b7d18bbf",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].humidity)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "17ed2b71539d5b32",
                "bd91f29ba2d4bbf8"
            ]
        ]
    },
    {
        "id": "edcbedb150a26514",
        "type": "mqtt in",
        "z": "f6eec287b7d18bbf",
        "name": "E210",
        "topic": "AM107/by-room/E210/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce1ba4f613fb574b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "f7b289a095d3d355",
                "52ebac69aa6d0097"
            ]
        ]
    },
    {
        "id": "52ebac69aa6d0097",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd91f29ba2d4bbf8",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f9ec0fba491fe37",
        "type": "influxdb out",
        "z": "f6eec287b7d18bbf",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "humidity,building=RT,room=E004",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "b502f5961e666e12",
        "type": "change",
        "z": "f6eec287b7d18bbf",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].humidity)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "9f9ec0fba491fe37",
                "2712b7c3cb3550f8"
            ]
        ]
    },
    {
        "id": "56f0161a4d35dc23",
        "type": "mqtt in",
        "z": "f6eec287b7d18bbf",
        "name": "E004",
        "topic": "AM107/by-room/E004/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d3d1a73dcc12af2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "b502f5961e666e12",
                "cd46efbaeae70fe7"
            ]
        ]
    },
    {
        "id": "cd46efbaeae70fe7",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "2712b7c3cb3550f8",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "2eb1097ec01e37b4",
        "type": "influxdb out",
        "z": "f6eec287b7d18bbf",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "humidity,building=INFO,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "8611d84c546dc45f",
        "type": "change",
        "z": "f6eec287b7d18bbf",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].humidity)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "2eb1097ec01e37b4",
                "ffc58fd197eace16"
            ]
        ]
    },
    {
        "id": "9b188d6f69aa2d3a",
        "type": "mqtt in",
        "z": "f6eec287b7d18bbf",
        "name": "B112",
        "topic": "AM107/by-room/B112/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6b950274a8097c47",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "8611d84c546dc45f",
                "c582f6ae26d7e077"
            ]
        ]
    },
    {
        "id": "c582f6ae26d7e077",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "ffc58fd197eace16",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "89c2399d676758f5",
        "type": "influxdb out",
        "z": "f6eec287b7d18bbf",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "humidity,building=INFO,room=B109",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "c93c11614f3f3316",
        "type": "change",
        "z": "f6eec287b7d18bbf",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].humidity)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "89c2399d676758f5",
                "e5c7ecf6f3328d4b"
            ]
        ]
    },
    {
        "id": "e28306e9cb4efa5f",
        "type": "mqtt in",
        "z": "f6eec287b7d18bbf",
        "name": "B109",
        "topic": "AM107/by-room/B109/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2d841630ef50951e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 480,
        "wires": [
            [
                "c93c11614f3f3316",
                "fad0d2f722ed56b0"
            ]
        ]
    },
    {
        "id": "fad0d2f722ed56b0",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "e5c7ecf6f3328d4b",
        "type": "debug",
        "z": "f6eec287b7d18bbf",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 520,
        "wires": []
    },
    {
        "id": "561ae7916ef83e3e",
        "type": "influxdb",
        "hostname": "83.113.15.31",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "ce1ba4f613fb574b",
        "type": "mqtt-broker",
        "name": "E210",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d3d1a73dcc12af2",
        "type": "mqtt-broker",
        "name": "E004",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b950274a8097c47",
        "type": "mqtt-broker",
        "name": "B112",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d841630ef50951e",
        "type": "mqtt-broker",
        "name": "B109",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]