nodered/nodered_co2.json
[
    {
        "id": "d79dda6eedb9375e",
        "type": "tab",
        "label": "CO2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4e0a5ab8f64d3ad",
        "type": "influxdb out",
        "z": "d79dda6eedb9375e",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "co2,building=RT,room=E210",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "7c2b4df58a29fe5a",
        "type": "change",
        "z": "d79dda6eedb9375e",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].co2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "f4e0a5ab8f64d3ad",
                "55daa379f43c7753"
            ]
        ]
    },
    {
        "id": "a289f112e73a6f12",
        "type": "mqtt in",
        "z": "d79dda6eedb9375e",
        "name": "E210",
        "topic": "AM107/by-room/E210/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce1ba4f613fb574b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "7c2b4df58a29fe5a",
                "422497b9a9e3e736"
            ]
        ]
    },
    {
        "id": "422497b9a9e3e736",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "55daa379f43c7753",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "42231a85cc4fc17a",
        "type": "influxdb out",
        "z": "d79dda6eedb9375e",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "co2,building=RT,room=E004",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a17e46006f1666c",
        "type": "change",
        "z": "d79dda6eedb9375e",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].co2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 260,
        "wires": [
            [
                "42231a85cc4fc17a",
                "53377625c3ed6f19"
            ]
        ]
    },
    {
        "id": "94b990051058e488",
        "type": "mqtt in",
        "z": "d79dda6eedb9375e",
        "name": "E004",
        "topic": "AM107/by-room/E004/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d3d1a73dcc12af2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "8a17e46006f1666c",
                "8f1e23210db0bcc9"
            ]
        ]
    },
    {
        "id": "8f1e23210db0bcc9",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "53377625c3ed6f19",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "8285f52ddc0c47b1",
        "type": "influxdb out",
        "z": "d79dda6eedb9375e",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "co2,building=INFO,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ec89c9d4691bbed",
        "type": "change",
        "z": "d79dda6eedb9375e",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].co2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "8285f52ddc0c47b1",
                "9dd99a742881e59c"
            ]
        ]
    },
    {
        "id": "3bf1c6bb1bdca945",
        "type": "mqtt in",
        "z": "d79dda6eedb9375e",
        "name": "B112",
        "topic": "AM107/by-room/B112/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6b950274a8097c47",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "4ec89c9d4691bbed",
                "ce70215966d11dec"
            ]
        ]
    },
    {
        "id": "ce70215966d11dec",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "9dd99a742881e59c",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "352d898f2895d0ec",
        "type": "influxdb out",
        "z": "d79dda6eedb9375e",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "co2,building=INFO,room=B109",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "af45276992b77036",
        "type": "change",
        "z": "d79dda6eedb9375e",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].co2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 480,
        "wires": [
            [
                "352d898f2895d0ec",
                "8ad038e926c48d1d"
            ]
        ]
    },
    {
        "id": "2c5d237b429fa862",
        "type": "mqtt in",
        "z": "d79dda6eedb9375e",
        "name": "B109",
        "topic": "AM107/by-room/B109/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2d841630ef50951e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 440,
        "wires": [
            [
                "af45276992b77036",
                "74624bba6139636c"
            ]
        ]
    },
    {
        "id": "74624bba6139636c",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "8ad038e926c48d1d",
        "type": "debug",
        "z": "d79dda6eedb9375e",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 480,
        "wires": []
    },
    {
        "id": "561ae7916ef83e3e",
        "type": "influxdb",
        "hostname": "83.113.15.31",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "ce1ba4f613fb574b",
        "type": "mqtt-broker",
        "name": "E210",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d3d1a73dcc12af2",
        "type": "mqtt-broker",
        "name": "E004",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b950274a8097c47",
        "type": "mqtt-broker",
        "name": "B112",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d841630ef50951e",
        "type": "mqtt-broker",
        "name": "B109",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]