nodered/nodered_temperature.json
[
    {
        "id": "e9b2b2edec10b95a",
        "type": "tab",
        "label": "Temperatures",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01d06e927cfbcae1",
        "type": "influxdb out",
        "z": "e9b2b2edec10b95a",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "temperature,building=RT,room=E210",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "3a7f394d78407335",
        "type": "change",
        "z": "e9b2b2edec10b95a",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "01d06e927cfbcae1",
                "a3cd42a6fec90136"
            ]
        ]
    },
    {
        "id": "b6debd149b111398",
        "type": "mqtt in",
        "z": "e9b2b2edec10b95a",
        "name": "E210",
        "topic": "AM107/by-room/E210/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce1ba4f613fb574b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "3a7f394d78407335",
                "0a4dd7af409babfc"
            ]
        ]
    },
    {
        "id": "0a4dd7af409babfc",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3cd42a6fec90136",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "59d839225998efd6",
        "type": "influxdb out",
        "z": "e9b2b2edec10b95a",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "temperature,building=RT,room=E004",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "66cdbfffc303a20f",
        "type": "change",
        "z": "e9b2b2edec10b95a",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "59d839225998efd6",
                "9bd48a5f89d00663"
            ]
        ]
    },
    {
        "id": "9acbeb3f81e7fae8",
        "type": "mqtt in",
        "z": "e9b2b2edec10b95a",
        "name": "E004",
        "topic": "AM107/by-room/E004/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d3d1a73dcc12af2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "66cdbfffc303a20f",
                "474219419ba20188"
            ]
        ]
    },
    {
        "id": "474219419ba20188",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "9bd48a5f89d00663",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "bc0291643844681e",
        "type": "influxdb out",
        "z": "e9b2b2edec10b95a",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "temperature,building=INFO,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "a1ced154b83bff66",
        "type": "change",
        "z": "e9b2b2edec10b95a",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "bc0291643844681e",
                "d5681e18964f7751"
            ]
        ]
    },
    {
        "id": "7ca8f120e63bacf5",
        "type": "mqtt in",
        "z": "e9b2b2edec10b95a",
        "name": "B112",
        "topic": "AM107/by-room/B112/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6b950274a8097c47",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "a1ced154b83bff66",
                "bd01538936560d73"
            ]
        ]
    },
    {
        "id": "bd01538936560d73",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "d5681e18964f7751",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c1acfaf86b61c43",
        "type": "influxdb out",
        "z": "e9b2b2edec10b95a",
        "influxdb": "561ae7916ef83e3e",
        "name": "influxdb out",
        "measurement": "temperature,building=INFO,room=B109",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "043bc71367a48548",
        "type": "change",
        "z": "e9b2b2edec10b95a",
        "name": "conversion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "9c1acfaf86b61c43",
                "a3622f286dc81df7"
            ]
        ]
    },
    {
        "id": "c1aaf8633253f389",
        "type": "mqtt in",
        "z": "e9b2b2edec10b95a",
        "name": "B109",
        "topic": "AM107/by-room/B109/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2d841630ef50951e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "043bc71367a48548",
                "22254a558d53458c"
            ]
        ]
    },
    {
        "id": "22254a558d53458c",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "a3622f286dc81df7",
        "type": "debug",
        "z": "e9b2b2edec10b95a",
        "name": "converti",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 500,
        "wires": []
    },
    {
        "id": "561ae7916ef83e3e",
        "type": "influxdb",
        "hostname": "83.113.15.31",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "ce1ba4f613fb574b",
        "type": "mqtt-broker",
        "name": "E210",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d3d1a73dcc12af2",
        "type": "mqtt-broker",
        "name": "E004",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b950274a8097c47",
        "type": "mqtt-broker",
        "name": "B112",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d841630ef50951e",
        "type": "mqtt-broker",
        "name": "B109",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]